@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap:inherit;
}
#container {
    background-color: red;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    position: fixed;
    font-family: "Bebas Neue";
    background-color: white;
    width: 100%;
    padding-left: 20px;
    height: 17vh;
    display: flex;
    align-items: center;
    
}
a {
    text-decoration: none;
    color: black;
}
ul, ol {
    list-style: none;
}